# Ignore everything
*

# Keep folders
!*/

# Allow only source files
!*.m
!*.sh
!*.py

# Keep important text files
!*.md
!LICENSE
!README*
!.gitignore

# Ignore specific folders.
/output
/postprocess
